﻿@using Cryptocash.Ui
@using System.Dynamic
@using System.Data
@using Cryptocash.Application.Dto;
@using Cryptocash.Ui.Generated.Component
@using Cryptocash.Ui.Generated.Data.ApiSetting;
@using Cryptocash.Ui.Generated.Data.Enum;
@using Cryptocash.Ui.Generated.Nox_Generator.Nox_Generator_NoxCodeGenerator.Component
@using Cryptocash.Ui.Generated.Pages.Generic
@using Nox.Ui.Blazor.Lib.Components.Generic
@using Nox.Ui.Blazor.Lib.Components.NoxTypes;
@using MudBlazor
@using System.Globalization;
@using Nox.Ui.Blazor.Lib.Models
@using global::Cryptocash.Ui.Generated.Data.Helper;
@using Nox.Ui.Blazor.Lib.Services;


@page "/TestLib"

@inject ApplicationState TestGlobalData
@{
    TestGlobalData.PageTitle = "Test Lib";
}

@inherits ListEntityPageBase<CustomerDto, CustomerCreateDto, CustomerUpdateDto>

@if (!IsLoading)
{
    #region Test Data

    string AddLabel = "ADD Test Lib";
    MoneyModel testMoney = new MoneyModel() {
                    Amount = (decimal)6432.43,
                    CurrencyCode = Nox.Types.CurrencyCode.GBP
                };
    string testCurrencySymbol = "£";
    decimal? testArea = (decimal)5645.27;
    bool testBoolean = true;
    decimal? testDistance = (decimal)1174.25;
    decimal? testLength = (decimal)1311.87;
    string testMacAddress = "ddaaccbbeedd";
    decimal? testNumber = (decimal)1223.75;
    decimal? testPercentage = (decimal)36.67;
    decimal? testTemperature = (decimal)14.33;
    decimal? testVolume = (decimal)85.31;
    decimal? testWeight = (decimal)23.56;    
    int testHour = 11;
    int testMinute = 22;
    int testSecond = 33;
    CultureInfo testCultureInfo = CultureInfo.GetCultureInfo("en-GB");
    byte testMonth = 1;
    int testYear = 2024;
    DateTime? testDate = DateTime.Now;
    DateTime? testDateEnd = DateTime.Now.AddHours(23);
    byte testDayOfWeek = 1;
    StreetAddressModel testStreetAddress = new StreetAddressModel()
    {
        StreetNumber = "StreetNumber",
        AddressLine1 = "AddressLine1",
        AddressLine2 = "AddressLine2",
        Route = "Route",
        Locality = "Locality",
        Neighborhood = "Neighborhood",
        AdministrativeArea1 = "AdministrativeArea1",
        AdministrativeArea2 = "AdministrativeArea2",
        PostalCode = "PostalCode",
        CountryId = Nox.Types.CountryCode.GB
    };
    List<CountryModel> testCountryList = new List<CountryModel>()
    {
        new CountryModel("GB", "Great Britain", "GBP")
    };
    LatLongModel testLatLong = new LatLongModel(51.509865, -0.118092);
    string testIpAddress = "100.100.100.100";
    CountryModel testCountry = new CountryModel()
                {
                    Id = "GB",
                    Name = "United Kingdom"
                };
    List<CurrencyModel> testCurrencySelectionList = new List<CurrencyModel>()
                {
                    new CurrencyModel()
                    {
                        Id = "GBP",
                        Name = "British Pound"
                    },
                    new CurrencyModel()
                    {
                        Id = "CHF",
                        Name = "Swiss Franc"
                    }                               
                };
    CurrencyModel testCurrency = new CurrencyModel()
                        {
                            Id = "GBP",
                            Name = "British Pound"
                        };
    List<SelectEntityModel> testGenericEntityList = new List<SelectEntityModel>()
                {
                    new SelectEntityModel("IDA", "Entity A"),
                    new SelectEntityModel("IDB", "Entity B")
                };
    string testEmail = "test@email.com";

    #endregion

    <MudGrid Spacing="0">
        <MudItem xs="12">
            <MudGrid Spacing="2" Style="margin-top:10px;">
                <MudItem xs="6">
                    <MudTextField @bind-Value="@SearchMainValue"
                                  Label="Search"
                                  Variant="Variant.Outlined"
                                  FullWidth="true"
                                  Clearable="true"
                                  OnClearButtonClick="@(() => ClearMainSearchFilterList())"
                                  OnKeyUp="@(e=>SearchEnterSubmit(e))"
                                  Placeholder="@CurrentApiUiService!.SearchLabel"></MudTextField>
                </MudItem>
                <MudItem xs="3" Class="align-left justify-left" Style="margin-top:15px;">
                    <table>
                        <tr>
                            <td style="padding-left:10px;">
                                <MudButton OnClick="Search"
                                           Variant="Variant.Filled"
                                           StartIcon="@Icons.Material.Filled.Search"
                                           Color="Color.Info">Search</MudButton>
                            </td>
                        </tr>
                    </table>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="12">
            <MudGrid Spacing="2" Style="margin-top:15px;">

                @if (CurrentApiUiService != null && CurrentAddEntity != null)
                {     
                    <MudItem xs="12" Class="align-left justify-left">
                        <MudButton OnClick="AddEntityOpenDialog"
                                   Variant="Variant.Filled"
                                   StartIcon="@Icons.Material.Filled.Add"
                                   Color="Color.Info">ADD</MudButton>
                    </MudItem>

                    <MudDialog @bind-IsVisible="IsVisibleAddEntityDialog" Options="AddDialogOptions">
                        <TitleContent>
                            <MudText Typo="Typo.h6">@AddLabel</MudText>
                        </TitleContent>
                        <DialogContent>
                            <MudForm @ref="AddEntityForm" @bind-IsValid="@AddEntityValidateSuccess">
                                <MudGrid>
                                    <MudItem xs="12">
                                                <MudGrid Style="margin-top:15px;">
                                                    <MudItem xs="6">
                                                        <EditText Title="Text" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                        <EditMoney Title="Money" Money="@testMoney" Currency="testMoney.CurrencyCode" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                        <EditArea Title="Area" Area="@testArea" AreaUnit="Nox.Types.AreaUnit.SquareMeter" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                        <EditBoolean Title="Boolean" Boolean="@testBoolean" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                        <EditDistance Title="Distance" Distance="@testDistance" DistanceUnit="Nox.Types.DistanceUnit.Kilometer" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                        <EditLength Title="Length" Length="@testLength" LengthUnit="Nox.Types.LengthUnit.Meter" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                        <EditMacAddress Title="MAC Address" MacAddress="@testMacAddress" Format="##:##:##:##:##:##" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                        <EditNumber Title="Number" Number="@testNumber" Minimum="0" Maximum="2000" Format="#,##0.##" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                        <EditPercentage Title="Percentage" Percentage="@testPercentage" Format="#.##" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                        <EditTemperature Title="Temperature" Temperature="@testTemperature" TemperatureUnit="Nox.Types.TemperatureUnit.Celsius" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                        <EditVolume Title="Volume" Volume="@testVolume" VolumeUnit="Nox.Types.VolumeUnit.CubicMeter" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                        <EditWeight Title="Weight" Weight="@testWeight" WeightUnit="Nox.Types.WeightUnit.Kilogram" />
                                                    </MudItem> 
                                                    <MudItem xs="6">
                                                        <EditTime
                                                            DisplayMinute="true" 
                                                            DisplaySecond="true" 
                                                            DisplayMillisecond="false" 
                                                            CultureInfo="@testCultureInfo"                                                            
                                                            TitleHour="Hour"
                                                            TitleMinute="Minute"
                                                            TitleSecond="Second"/>
                                                    </MudItem>                                                    
                                                    <MudItem xs="6">
                                                        <EditMonth Title="Month" Month="@testMonth" CultureInfo="testCultureInfo" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                        <EditYear Title="Year" Year="@testYear" />
                                                    </MudItem>                                                      
                                                    <MudItem xs="6">
                                                        <EditDate Title="Date" Date="@testDate" CultureInfo="testCultureInfo" />
                                                    </MudItem>                                                    
                                                    <MudItem xs="6">
                                                        <EditDateTime 
                                                            DateTime="@testDate"
                                                            DisplayMinute="true"
                                                            DisplaySecond="false"
                                                            DisplayMillisecond="false"
                                                            CultureInfo="@testCultureInfo"
                                                            TitleDateTime="DateTime"
                                                            TitleHour="Hour"
                                                            TitleMinute="Minute"
                                                            TitleSecond="Second" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                        <EditDateTimeRange 
                                                            DateTimeStart="@testDate"
                                                            DateTimeEnd="@testDateEnd"
                                                            DisplayMinute="true"
                                                            DisplaySecond="false"
                                                            DisplayMillisecond="false"
                                                            CultureInfo="@testCultureInfo"
                                                            TitleDateTimeRange="DateTimeRange"
                                                            TitleHourStart="Start Hour"
                                                            TitleMinuteStart="Start Minute"
                                                            TitleSecondStart="Start Second"
                                                            TitleHourEnd="End Hour"
                                                            TitleMinuteEnd="End Minute"
                                                            TitleSecondEnd="End Second" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                        <EditDayOfWeek Title="DayOfWeek" DayOfWeek="@testDayOfWeek" CultureInfo="testCultureInfo" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                        <EditStreetAddress @bind-StreetAddress="@testStreetAddress"
                                                            TitleStreetNumber="StreetNumber"
                                                            TitleAddressLine1="AddressLine1"
                                                            TitleAddressLine2="AddressLine2"
                                                            TitleRoute="Route"
                                                            TitleLocality="Locality"
                                                            TitleNeighborhood="Neighborhood"
                                                            TitleAdministrativeArea1="AdministrativeArea1"
                                                            TitleAdministrativeArea2="AdministrativeArea2"
                                                            TitlePostalCode="PostalCode"
                                                            TitleCountryId="CountryId"
                                                            CountrySelectionList="@testCountryList" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                        <EditLatLong @bind-Latlong="@testLatLong"
                                                            TitleLatitude="Latitude"
                                                            TitleLongitude="Longitude"
                                                            Format="#.########"
                                                            DisplayGoogleMap="false" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                        <EditIpAddress @bind-IpAddress="@testIpAddress"
                                                            Title="IpAddress" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                        <EditCountry Title="Country"
                                                            CountrySelectionList="@testCountryList" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                        <EditCurrency Title="Currency" CurrencySelectionList="@testCurrencySelectionList" />
                                                    </MudItem>                              
                                                    <MudItem xs="6">
                                                        <Select Title="Select"
                                                            SelectionList="@testGenericEntityList" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                        <MultiSelect Title="SelectList"
                                                                SelectionList="@testGenericEntityList" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                        <EditEmail Title="Email" Email="@testEmail" />
                                                    </MudItem>
                                                </MudGrid>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <UiErrorSummary_g Errors="AddErrors" />
                                    </MudItem>
                                </MudGrid>
                            </MudForm>                                                                       
                        </DialogContent>
                        <DialogActions>                              
                                    <MudButton OnClick="AddEntityCloseDialog"
                                               Variant="Variant.Outlined"
                                               Color="Color.Info"
                                               Style="Margin:15px;">CANCEL</MudButton>
                                    <MudButton OnClick="@(async () => await AddEntitySubmit())"
                                               Variant="Variant.Filled"
                                               Color="Color.Info"
                                               Style="Margin:15px;">
                                        <MudText>SUBMIT</MudText>
                                    </MudButton>
                        </DialogActions>
                    </MudDialog>
                }

                <MudItem xs="12">
                    @if (PagedData != null
                   && CurrentApiUiService != null)
                    {   
                        <MudTable ServerData="@(new Func<TableState, Task<TableData<CustomerDto>>>(ServerReload))"
                                  T="CustomerDto"
                                  Loading="@IsDataGridLoading"
                                  Hover="true"                                  
                                  Breakpoint="Breakpoint.Sm"
                                  Elevation="0"
                                  Style="border-style:solid;border-width:2px;border-color:lightgray;"
                                  HeaderClass="custom-header"
                                  Dense="true">
                            <HeaderContent>
                                <MudTh>Text</MudTh>
                                <MudTh>Money</MudTh>
                                <MudTh>Area</MudTh>
                                <MudTh>Boolean</MudTh>
                                <MudTh>Distance</MudTh>
                                <MudTh>Length</MudTh>
                                <MudTh>MacAddress</MudTh>
                                <MudTh>Number</MudTh>
                                <MudTh>Percentage</MudTh>
                                <MudTh>Temperature</MudTh>
                                <MudTh>Volume</MudTh>
                                <MudTh>Weight</MudTh>
                                <MudTh>Time</MudTh>
                                <MudTh>Month</MudTh>
                                <MudTh>Year</MudTh>
                                <MudTh>Date</MudTh>                                                               
                                <MudTh>DateTime</MudTh>
                                <MudTh>DateTimeRange</MudTh>
                                <MudTh>DayOfWeek</MudTh>
                                <MudTh>StreetAddress</MudTh>
                                <MudTh>LatLong</MudTh>
                                <MudTh>IpAddress</MudTh>
                                <MudTh>Country</MudTh>
                                <MudTh>Currency</MudTh>
                                <MudTh>Email</MudTh>
                            </HeaderContent>
                            <RowTemplate> 
                                <MudTd Style="vertical-align:top;">
                                    <ViewText Text="Test Text" />                                  
                                </MudTd>
                                <MudTd Style="vertical-align:top;">
                                    <ViewMoney Money="@testMoney" Symbol="@testCurrencySymbol" />
                                </MudTd>
                                <MudTd Style="vertical-align:top;">
                                    <ViewArea Area="@testArea" AreaUnit="Nox.Types.AreaUnit.SquareMeter" />
                                </MudTd>
                                <MudTd Style="vertical-align:top;">
                                    <ViewBoolean Boolean="@testBoolean" TitleTrue="True" TitleFalse="False" />
                                </MudTd>
                                <MudTd Style="vertical-align:top;">
                                    <ViewDistance Distance="@testDistance" DistanceUnit="Nox.Types.DistanceUnit.Kilometer" />
                                </MudTd>
                                <MudTd Style="vertical-align:top;">
                                    <ViewLength Length="@testLength" LengthUnit="Nox.Types.LengthUnit.Meter" />
                                </MudTd>
                                <MudTd Style="vertical-align:top;">
                                    <ViewMacAddress MacAddress="@testMacAddress" MacAddressFormat="Nox.Types.MacAddressFormat.ByteGroupWithColon" />
                                </MudTd> 
                                <MudTd Style="vertical-align:top;">                                    
                                    <ViewNumber Number="@testNumber" Format="#,##0.##" />
                                </MudTd>
                                <MudTd Style="vertical-align:top;">
                                    <ViewPercentage Percentage="@testPercentage" />                                    
                                </MudTd> 
                                <MudTd Style="vertical-align:top;">
                                    <ViewTemperature Temperature="@testTemperature" TemperatureUnit="Nox.Types.TemperatureUnit.Celsius" />
                                </MudTd>                                
                                <MudTd Style="vertical-align:top;">
                                    <ViewVolume Volume="@testVolume" VolumeUnit="Nox.Types.VolumeUnit.CubicMeter" />
                                </MudTd>  
                                <MudTd Style="vertical-align:top;">
                                    <ViewWeight Weight="@testWeight" WeightUnit="Nox.Types.WeightUnit.Kilogram" />
                                </MudTd>                                
                                <MudTd Style="vertical-align:top;">
                                    <ViewTime Hour="@testHour" Minute="@testMinute" Second="@testSecond" CultureInfo="@testCultureInfo" Format="HH:mm:ss"/>
                                </MudTd>                                
                                <MudTd Style="vertical-align:top;">
                                    <ViewMonth Month="@testMonth" CultureInfo="@testCultureInfo" />
                                </MudTd>
                                <MudTd Style="vertical-align:top;">
                                    <ViewYear Year="@testYear" />
                                </MudTd>                                 
                                <MudTd Style="vertical-align:top;">
                                    <ViewDate Date="@testDate" CultureInfo="@testCultureInfo" Format="dd/MM/yyyy"/>
                                </MudTd>                                
                                <MudTd Style="vertical-align:top;">
                                    <ViewDateTime DateTime="@testDate" CultureInfo="@testCultureInfo" Format="dd/MM/yyyy HH:mm:ss" />
                                </MudTd>
                                <MudTd Style="vertical-align:top;">
                                    <ViewDateTimeRange DateTimeStart="@testDate" DateTimeEnd="@testDateEnd" CultureInfo="@testCultureInfo" Format="dd/MM/yyyy HH:mm:ss" />
                                </MudTd>
                                <MudTd Style="vertical-align:top;">
                                    <ViewDayOfWeek DayOfWeek="@testDayOfWeek" CultureInfo="@testCultureInfo" />
                                </MudTd>                                
                                <MudTd Style="vertical-align:top;">
                                    <ViewStreetAddress StreetAddress="@testStreetAddress" CountrySelectionList="@testCountryList" />
                                </MudTd>
                                <MudTd Style="vertical-align:top;">
                                    <ViewLatLong LatLong="@testLatLong" />
                                </MudTd>
                                <MudTd Style="vertical-align:top;">
                                    <ViewIpAddress IpAddress="@testIpAddress" />
                                </MudTd>
                                <MudTd Style="vertical-align:top;">
                                    <ViewCountry Country="@testCountry" />
                                </MudTd>
                                <MudTd Style="vertical-align:top;">
                                    <ViewCurrency Currency="@testCurrency" />
                                </MudTd>                                
                                <MudTd Style="vertical-align:top;">
                                    <ViewEmail Email="@testEmail" />
                                </MudTd>
                            </RowTemplate>
                            <NoRecordsContent>
                                <MudText Typo="Typo.h6">No Results Found</MudText>
                            </NoRecordsContent>
                            <PagerContent>
                                <MudTablePager PageSizeOptions="CurrentApiUiService!.Paging?.PageSizeList?.ToArray()" />
                            </PagerContent>
                        </MudTable>
                    }
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
}
else
{
    <MudPaper Class="d-flex align-center justify-center mud-width-full" Style="padding:100px;" Elevation="0">
        <MudProgressCircular Color="Color.Info"
                             Size="Size.Large"
                             Indeterminate="true" />
    </MudPaper>
}


<style>
    .custom-header {
        background-color: #f0f3f5;
    }

    .custom-dialog {
        backdrop-filter: blur(2px);
    }

    .mud-tab.mud-tab-active {
        color: var(--mud-palette-info);
        border-bottom-style: solid;
        border-bottom-color: var(--mud-palette-info);
        border-bottom-width: 3px;
    }
</style>

@if (DisplayGoogleMap)
{
    <script src="@GoogleMapJsUrl" defer></script>
}