﻿@using Cryptocash.Ui
@using System.Dynamic
@using System.Data
@using Cryptocash.Application.Dto;
@using Cryptocash.Ui.Generated.Component
@using Cryptocash.Ui.Generated.Data.ApiSetting;
@using Cryptocash.Ui.Generated.Data.Enum;
@using Cryptocash.Ui.Generated.Nox_Generator.Nox_Generator_NoxCodeGenerator.Component
@using Cryptocash.Ui.Generated.Pages.Generic
@using Nox.Ui.Blazor.Lib.Components.NoxTypes
@using Nox.Ui.Blazor.Lib.Components.Generic
@using MudBlazor
@using global::Cryptocash.Ui.Generated.Data.Helper;

@page "/VendingMachines"

@inherits ListEntityPageBase<VendingMachineDto, VendingMachineCreateDto, VendingMachineUpdateDto>

@if (!IsLoading)
{
    <MudGrid Spacing="0">
        <MudItem xs="12">
            <MudGrid Spacing="2" Style="margin-top:10px;">
                <MudItem xs="6">
                    <MudTextField @bind-Value="@SearchMainValue"
                                  Label="Search"
                                  Variant="Variant.Outlined"
                                  FullWidth="true"
                                  Clearable="true"
                                  OnClearButtonClick="@(() => ClearMainSearchFilterList())"
                                  OnKeyUp="@(e=>SearchEnterSubmit(e))"
                                  Placeholder="@CurrentApiUiService!.SearchLabel"></MudTextField>
                </MudItem>
                <MudItem xs="3" Class="align-left justify-left" Style="margin-top:15px;">
                    <table>
                        <tr>
                            <td style="padding-left:10px;">
                                <MudButton OnClick="Search"
                                           Variant="Variant.Filled"
                                           StartIcon="@Icons.Material.Filled.Search"
                                           Color="Color.Info">Search</MudButton>
                            </td>
                            <td style="padding-left:20px;">
                                <MudButton OnClick="@(() => OpenSearchFilterDrawer(true))"
                                           Variant="Variant.Text"
                                           StartIcon="@Icons.Material.Filled.FilterAlt"
                                           Color="Color.Info">Filters</MudButton>
                            </td>
                            <td style="padding-left:20px;">
                                <MudButton OnClick="@(() => OpenViewDrawer(true))"
                                           Variant="Variant.Text"
                                           StartIcon="@Icons.Material.Filled.DisplaySettings"
                                           Color="Color.Info">View</MudButton>
                            </td>
                        </tr>
                    </table>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="12">
            <MudGrid Spacing="2" Style="margin-top:15px;">

                @if (CurrentApiUiService != null && CurrentAddEntity != null)
                {
                    var AddLabel = "ADD " + CurrentEntityName;

                    <MudItem xs="12" Class="align-left justify-left">
                        <MudButton OnClick="AddEntityOpenDialog"
                                   Variant="Variant.Filled"
                                   StartIcon="@Icons.Material.Filled.Add"
                                   Color="Color.Info">ADD</MudButton>
                    </MudItem>

                    <MudDialog @bind-IsVisible="IsVisibleAddEntityDialog" Options="AddDialogOptions">
                        <TitleContent>
                            <MudText Typo="Typo.h6">@AddLabel</MudText>
                        </TitleContent>
                        <DialogContent>
                            <MudForm @ref="AddEntityForm" @bind-IsValid="@AddEntityValidateSuccess">
                                <MudGrid>
                                    <MudItem xs="12">
                                        <MudTabs Rounded="true" Border="true" HideSlider="true">
                                            <MudTabPanel Text="Details">
                                                <MudGrid Style="margin-top:15px;">
                                                    <MudItem xs="6">
                                                        <EditMacAddress @bind-MacAddress="CurrentAddEntity.MacAddress"
                                                                            Title="MAC Address"
                                                                            Format="##:##:##:##:##:##" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                        <EditIpAddress @bind-IpAddress="CurrentAddEntity.PublicIp"
                                                                             Title="Public Ip" />
                                                    </MudItem>
                                                    <MudItem xs=6>
                                                        <EditText @bind-Text="CurrentAddEntity.SerialNumber"
                                                                      Title="Serial Number"
                                                                      MaxLength="63"
                                                                      MinLength="4" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                        <EditCountry @bind-CountryId="CurrentAddEntity.CountryId"
                                                                         Title="Installation Country"
                                                                         CountrySelectionList="CountryModelData" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                        <EditArea @bind-Area="CurrentAddEntity.InstallationFootPrint"
                                                                      Title="Installation Area"
                                                                      AreaUnit="Nox.Types.AreaUnit.SquareMeter"
                                                                      Format="#,##0.##" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                            <EditMoney @bind-Money="CurrentAddEntityRentPerSquareMetre"
                                                                       Currency="GetCurrencyByCountryId(CurrentAddEntity.CountryId)"
                                                                       Title="Rent per Square Metre"
                                                                       Format="#.##" />
                                                    </MudItem>
                                                    <MudItem xs="6">
                                                            <Select @bind-CurrentId="CurrentAddEntityLandLordId"
                                                                                      Title="ContractedAreaLandLord"
                                                                                      SelectionList="LandLordEntityData" />
                                                    </MudItem>
                                                </MudGrid>
                                            </MudTabPanel>
                                            <MudTabPanel Text="Location">
                                                <MudGrid Style="margin-top:15px;">
                                                    @if(DisplayGoogleMap){
                                                        <MudItem xs=12 sm=6>
                                                            <EditLatLong @bind-Latlong="CurrentAddEntityLatLong"
                                                                             TitleLatitude="Latitude"
                                                                             TitleLongitude="Longitude"
                                                                             Format="#.########"
                                                                             DisplayGoogleMap="DisplayGoogleMap" />
                                                        </MudItem>
                                                        <MudItem xs=12 sm=6>
                                                            <EditStreetAddress @bind-StreetAddress="CurrentAddEntityStreetAddress"
                                                                                   TitleStreetNumber="StreetNumber"
                                                                                   TitleAddressLine1="AddressLine1"
                                                                                   TitleAddressLine2="AddressLine2"
                                                                                   TitleRoute="Route"
                                                                                   TitleLocality="Locality"
                                                                                   TitleNeighborhood="Neighborhood"
                                                                                   TitleAdministrativeArea1="AdministrativeArea1"
                                                                                   TitleAdministrativeArea2="AdministrativeArea2"
                                                                                   TitlePostalCode="PostalCode"
                                                                                   TitleCountryId="CountryId"
                                                                                   CountrySelectionList="CountryModelData" />
                                                        </MudItem>
                                                    }
                                                    else
                                                    {
                                                        <MudItem xs=12>
                                                            <EditLatLong @bind-Latlong="CurrentAddEntityLatLong"
                                                                             TitleLatitude="Latitude"
                                                                             TitleLongitude="Longitude"
                                                                             Format="#.########"
                                                                             DisplayGoogleMap="DisplayGoogleMap" />
                                                        </MudItem>
                                                        <MudItem xs=12>
                                                            <EditStreetAddress @bind-StreetAddress="CurrentAddEntityStreetAddress"
                                                                                   TitleStreetNumber="StreetNumber"
                                                                                   TitleAddressLine1="AddressLine1"
                                                                                   TitleAddressLine2="AddressLine2"
                                                                                   TitleRoute="Route"
                                                                                   TitleLocality="Locality"
                                                                                   TitleNeighborhood="Neighborhood"
                                                                                   TitleAdministrativeArea1="AdministrativeArea1"
                                                                                   TitleAdministrativeArea2="AdministrativeArea2"
                                                                                   TitlePostalCode="PostalCode"
                                                                                   TitleCountryId="CountryId"
                                                                               CountrySelectionList="CountryModelData" />
                                                        </MudItem>
                                                    }                                                  
                                                </MudGrid>
                                            </MudTabPanel>
                                        </MudTabs>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <UiErrorSummary_g Errors="AddErrors" />
                                    </MudItem>
                                </MudGrid>
                            </MudForm>                                                                       
                        </DialogContent>
                        <DialogActions>                              
                                    <MudButton OnClick="AddEntityCloseDialog"
                                               Variant="Variant.Outlined"
                                               Color="Color.Info"
                                               Style="Margin:15px;">CANCEL</MudButton>
                                    <MudButton OnClick="@(async () => await AddEntitySubmit())"
                                               Variant="Variant.Filled"
                                               Color="Color.Info"
                                               Style="Margin:15px;">
                                        <MudText>SUBMIT</MudText>
                                    </MudButton>
                        </DialogActions>
                    </MudDialog>
                }

                @if (CurrentApiUiService != null && CurrentEditEntity != null)
                {
                    var EditLabel = "EDIT " + CurrentEntityName;

                    <MudDialog @bind-IsVisible="IsVisibleEditEntityDialog" Options="EditDialogOptions">
                        <TitleContent>
                            <MudText Typo="Typo.h6">@EditLabel</MudText>
                        </TitleContent>
                        <DialogContent>
                            <MudForm @ref="EditEntityForm" @bind-IsValid="@EditEntityValidateSuccess">
                                <MudGrid>
                                    <MudItem xs="12">
                                        <MudTabs Rounded="true" Border="true" HideSlider="true">
                                            <MudTabPanel Text="Details">
                                                <MudGrid Style="margin-top:15px;">
                                                        <MudItem xs="6">
                                                            <EditMacAddress @bind-MacAddress="CurrentEditEntity.MacAddress"
                                                                                Title="MAC Address"
                                                                                Format="##:##:##:##:##:##" />
                                                        </MudItem>
                                                        <MudItem xs="6">
                                                            <EditIpAddress @bind-IpAddress="CurrentEditEntity.PublicIp"
                                                                                 Title="Public Ip" />
                                                        </MudItem>
                                                        <MudItem xs=6>
                                                            <EditText @bind-Text="CurrentEditEntity.SerialNumber"
                                                                          Title="Serial Number"
                                                                          MaxLength="63"
                                                                          MinLength="4" />
                                                        </MudItem>
@*                                                         <MudItem xs="6">
                                                            <UiEditCountry_g @bind-CountryId="CurrentEditEntity.CountryId"
                                                                             Title="Installation Country"
                                                                             CountrySelectionList="CountryEntityData?.EntityList" />
                                                        </MudItem> *@
                                                        <MudItem xs="6">
                                                            <EditArea @bind-Area="CurrentEditEntity.InstallationFootPrint"
                                                                          Title="Installation Area"
                                                                          AreaUnit="Nox.Types.AreaUnit.SquareMeter"
                                                                      Format="#,##0.##" />
                                                        </MudItem>
@*                                                         <MudItem xs="6">
                                                          <EditMoney @bind-Money="CurrentEditEntityRentPerSquareMetre"
                                                                           Currency="GetCurrencyByCountryId(CurrentEditEntity.CountryId)"
                                                                           Title="Rent per Square Metre"
                                                                           Format="#.##" />
                                                        </MudItem>
                                                      <MudItem xs="6">
                                                            <UiEditEntityExactlyOneLandLord_g @bind-LandLordIdLong="CurrentEditEntity.LandLordId"
                                                                                          Title="Contracted Area LandLord"
                                                                                          LandLordSelectionList="LandLordEntityData?.EntityList" />
                                                        </MudItem> *@
                                                </MudGrid>
                                            </MudTabPanel>
                                            <MudTabPanel Text="Location">
                                                <MudGrid Style="margin-top:15px;">
                                                    @if (DisplayGoogleMap)
                                                    {
                                                        <MudItem xs=12 sm=6>
                                                            <EditLatLong @bind-Latlong="CurrentEditEntityLatLong"
                                                                             TitleLatitude="Latitude"
                                                                             TitleLongitude="Longitude"
                                                                             Format="#.########"
                                                                             DisplayGoogleMap="DisplayGoogleMap" />
                                                        </MudItem>
                                                        <MudItem xs=12 sm=6>
                                                            <EditStreetAddress @bind-StreetAddress="CurrentEditEntityStreetAddress"
                                                                                   TitleStreetNumber="StreetNumber"
                                                                                   TitleAddressLine1="AddressLine1"
                                                                                   TitleAddressLine2="AddressLine2"
                                                                                   TitleRoute="Route"
                                                                                   TitleLocality="Locality"
                                                                                   TitleNeighborhood="Neighborhood"
                                                                                   TitleAdministrativeArea1="AdministrativeArea1"
                                                                                   TitleAdministrativeArea2="AdministrativeArea2"
                                                                                   TitlePostalCode="PostalCode"
                                                                                   TitleCountryId="CountryId"
                                                                                   CountrySelectionList="CountryModelData" />
                                                        </MudItem>
                                                    }
                                                    else
                                                    {
                                                        <MudItem xs=12>
                                                            <EditLatLong @bind-Latlong="CurrentEditEntityLatLong"
                                                                             TitleLatitude="Latitude"
                                                                             TitleLongitude="Longitude"
                                                                             Format="#.########"
                                                                             DisplayGoogleMap="DisplayGoogleMap" />
                                                        </MudItem>
                                                        <MudItem xs=12>
                                                            <EditStreetAddress @bind-StreetAddress="CurrentEditEntityStreetAddress"
                                                                               TitleStreetNumber="StreetNumber"
                                                                               TitleAddressLine1="AddressLine1"
                                                                               TitleAddressLine2="AddressLine2"
                                                                               TitleRoute="Route"
                                                                               TitleLocality="Locality"
                                                                               TitleNeighborhood="Neighborhood"
                                                                               TitleAdministrativeArea1="AdministrativeArea1"
                                                                               TitleAdministrativeArea2="AdministrativeArea2"
                                                                               TitlePostalCode="PostalCode"
                                                                               TitleCountryId="CountryId"
                                                                               CountrySelectionList="CountryModelData" />
                                                        </MudItem>
                                                    }
                                                </MudGrid>
                                            </MudTabPanel>
                                        </MudTabs>
                                    </MudItem>
                                    <MudItem xs="12">
                                        <UiErrorSummary_g Errors="EditErrors" />
                                    </MudItem>
                                </MudGrid>
                            </MudForm>
                        </DialogContent>
                        <DialogActions>                           
                            <MudButton OnClick="EditEntityCloseDialog"
                                       Variant="Variant.Outlined"
                                       Color="Color.Info"
                                       Style="Margin:15px;">CANCEL</MudButton>
                            <MudButton OnClick="@(async () => await EditEntitySubmit())"
                                       Variant="Variant.Filled"
                                       Color="Color.Info"
                                       Style="Margin:15px;">
                                <MudText>SUBMIT</MudText>
                            </MudButton>
                        </DialogActions>
                    </MudDialog>
                }

                <MudItem xs="12">
                    @if (PagedData != null
                   && CurrentApiUiService != null)
                    {
                        <MudTable ServerData="@(new Func<TableState, Task<TableData<VendingMachineDto>>>(ServerReload))"
                        @ref="DataGridTable"
                                  CurrentPage="Convert.ToInt32(CurrentApiUiService!.Paging?.CurrentPage)"
                                  RowsPerPage="Convert.ToInt32(CurrentApiUiService!.Paging?.CurrentPageSize)"
                                  Loading="@IsDataGridLoading"
                                  Hover="true"
                                  Breakpoint="Breakpoint.Sm"
                                  T="VendingMachineDto"
                                  Elevation="0"
                                  Style="border-style:solid;border-width:2px;border-color:lightgray;"
                                  HeaderClass="custom-header"
                                  Dense="true">
                            <HeaderContent>

                                <MudTh>Action</MudTh>

                                @if (CurrentApiUiService!.IsPropertyShowInSearch("SerialNumber"))
                                {
                                    @if (CurrentApiUiService!.IsPropertyOrdered("SerialNumber"))
                                    {
                                        <MudTh>
                                            <MudTableSortLabel T="VendingMachineDto"
                                                               SortDirectionChanged="@(e=>UpdateOrder(e.ToString(), "SerialNumber"))"
                                                               InitialDirection="@GetPropertyMudSortDirection("SerialNumber")">
                                                SerialNumber
                                            </MudTableSortLabel>
                                        </MudTh>
                                    }
                                    else
                                    {
                                        <MudTh>SerialNumber</MudTh>
                                    }
                                }

                                @if (CurrentApiUiService!.IsPropertyShowInSearch("MacAddress"))
                                {
                                    @if (CurrentApiUiService!.IsPropertyOrdered("MacAddress"))
                                    {
                                        <MudTh>
                                            <MudTableSortLabel T="VendingMachineDto"
                                                               SortDirectionChanged="@(e=>UpdateOrder(e.ToString(), "MacAddress"))"
                                                               InitialDirection="@GetPropertyMudSortDirection("MacAddress")">
                                                MacAddress
                                            </MudTableSortLabel>
                                        </MudTh>
                                    }
                                    else
                                    {
                                        <MudTh>MacAddress</MudTh>
                                    }
                                }

                                @if (CurrentApiUiService!.IsPropertyShowInSearch("PublicIp"))
                                {
                                    @if (CurrentApiUiService!.IsPropertyOrdered("PublicIp"))
                                    {
                                        <MudTh>
                                            <MudTableSortLabel T="VendingMachineDto"
                                                               SortDirectionChanged="@(e=>UpdateOrder(e.ToString(), "PublicIp"))"
                                                               InitialDirection="@GetPropertyMudSortDirection("PublicIp")">
                                                PublicIp
                                            </MudTableSortLabel>
                                        </MudTh>
                                    }
                                    else
                                    {
                                        <MudTh>PublicIp</MudTh>
                                    }
                                }

                            </HeaderContent>
                            <RowTemplate>

                                <MudTd>
                                    <MudMenu Icon="@Icons.Material.Filled.MoreHoriz" Color="Color.Info">
                                        <MudMenuItem Icon="@Icons.Material.Filled.Edit" IconColor="Color.Info" OnClick="@(e=>EditEntityOpenDialog(context))">
                                            <MudText Color="Color.Info">EDIT</MudText>
                                        </MudMenuItem>
                                        <MudMenuItem Icon="@Icons.Material.Filled.DeleteOutline" IconColor="Color.Error" OnClick="@(e=>DeleteEntitySelect(context.Id.ToString(), context.Etag))">
                                            <MudText Color="Color.Error">DELETE</MudText>
                                        </MudMenuItem>
                                    </MudMenu>
                                </MudTd>

                                @if (CurrentApiUiService!.IsPropertyShowInSearch("SerialNumber"))
                                {
                                    <MudTd>
                                        <ViewText Text="@context.SerialNumber" />
                                    </MudTd>
                                }

                                @if (CurrentApiUiService!.IsPropertyShowInSearch("MacAddress"))
                                {
                                    <MudTd>
                                        <ViewMacAddress MacAddress="@context.MacAddress" MacAddressFormat="Nox.Types.MacAddressFormat.ByteGroupWithColon" />
                                    </MudTd>
                                }

                                @if (CurrentApiUiService!.IsPropertyShowInSearch("PublicIp"))
                                {
                                    <MudTd>
                                        <ViewIpAddress IpAddress="@context.PublicIp" />
                                    </MudTd>
                                }

                            </RowTemplate>
                            <NoRecordsContent>
                                <MudText Typo="Typo.h6">No Results Found</MudText>
                            </NoRecordsContent>
                            <PagerContent>
                                <MudTablePager PageSizeOptions="CurrentApiUiService!.Paging?.PageSizeList?.ToArray()" />
                            </PagerContent>
                        </MudTable>
                    }
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>

    <MudDialog @bind-IsVisible="IsOpenDeleteEntityConfirmation" Options="DeleteDialogOptions">
        <TitleContent>
            <MudText Typo="Typo.h6">
                DELETE VendingMachine
            </MudText>
        </TitleContent>
        <DialogContent>
            <MudText>Do you really want to delete this vending machine?</MudText>
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="DeleteEntityCloseConfirmation"
                       Color="Color.Info"
                       Variant="Variant.Outlined"
                       Style="Margin:15px;">CANCEL</MudButton>
            <MudButton OnClick="@(async () => await DeleteEntitySubmit())"
                       Variant="Variant.Filled"
                       Color="Color.Error"
                       Style="Margin:15px;">
                <MudText>DELETE</MudText>
            </MudButton>
        </DialogActions>
    </MudDialog>

    @if (IsOpenSearchFilterDrawer)
    {
        <MudDrawer @bind-Open="IsOpenSearchFilterDrawer"
                   Width="400px"
                   Height="100%"
                   Anchor="Anchor.End"
                   Elevation="1"
                   Variant="@DrawerVariant.Temporary">
            <MudDrawerHeader>
                <table style="width:100%">
                    <tr>
                        <td style="text-align:left">
                            <MudText Typo="Typo.h6">Filters</MudText>
                        </td>
                        <td style="text-align:right">
                            <MudIconButton Icon="@Icons.Material.Filled.Close"
                                           Color="Color.Info"
                                           OnClick="@(() => OpenSearchFilterDrawer(false))"></MudIconButton>
                        </td>
                    </tr>
                </table>
            </MudDrawerHeader>
            <MudNavMenu>
                @if (IsSearchFilterPopulated)
                {
                    <table style="width:100%;">
                        @foreach (SearchFilter CurrentFilter in CurrentApiUiService!.SearchFilterList!.Where(searchFilter => searchFilter.SearchFilterLocation == SearchFilterLocation.FilterSearch))
                        {
                            string LabelName = UtilityHelper.UppercaseFirstCharacter(CurrentFilter.PropertyName);

                            if (CurrentFilter.IsDropdownSelection)
                            {
                                <tr>
                                    <td style="padding:15px 25px 0px 25px;">
                                        @if (CurrentFilter.SearchValueOptionList != null)
                                        {
                                            <MudSelect Dense="true"
                                                       T="string"
                                                       Label="@LabelName"
                                                       Variant="Variant.Outlined"
                                                       Placeholder="Please Select"
                                                       ValueChanged="@(e=>CurrentApiUiService!.UpdateSearchFilter(e,CurrentFilter))"
                                                       Clearable="true"
                                                       OnClearButtonClick="@(e=>ClearSearchFilter(e,CurrentFilter))"
                                                       SelectedValues="CurrentApiUiService!.GetSearchFilterValueList(CurrentFilter)">
                                                @foreach (string CurrentOption in CurrentFilter.SearchValueOptionList)
                                                {
                                                    <MudSelectItem Value="@(CurrentOption)" />
                                                }
                                            </MudSelect>
                                        }
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td style="padding:15px 25px 0px 25px;">
                                        <MudTextField Label="@LabelName"
                                                      Variant="Variant.Outlined"
                                                      FullWidth="true"
                                                      TextChanged="@(e=>CurrentApiUiService!.UpdateSearchFilter(e,CurrentFilter))"
                                                      OnClearButtonClick="@(e=>ClearSearchFilter(e,CurrentFilter))"
                                                      T="string"
                                                      Clearable="true"
                                                      Value="CurrentApiUiService!.GetSearchFilterValue(CurrentFilter)"></MudTextField>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                    <table style="width:100%;margin-top:20px;">
                        <tr>
                            <td style="text-align:left;padding:25px;width:50%;">
                                <MudButton OnClick="@(() => CurrentApiUiService!.ResetFilterSearchFilterList())"
                                           Variant="Variant.Outlined"
                                           Color="Color.Info"
                                           FullWidth="true">Clear All</MudButton>
                            </td>
                            <td style="text-align:right;padding:25px;width:50%;">
                                <MudButton OnClick="ApplySearchFilterList"
                                           Variant="Variant.Filled"
                                           Color="Color.Info"
                                           FullWidth="true">Apply</MudButton>
                            </td>
                        </tr>
                    </table>
                }
            </MudNavMenu>
        </MudDrawer>
    }

    @if (IsOpenViewDrawer)
    {
        <MudDrawer @bind-Open="IsOpenViewDrawer"
                   Width="400px"
                   Height="100%"
                   Anchor="Anchor.End"
                   Elevation="1"
                   Variant="@DrawerVariant.Temporary">
            <MudDrawerHeader>
                <table style="width:100%">
                    <tr>
                        <td style="text-align:left;">
                            <MudText Typo="Typo.h6">View Columns</MudText>
                        </td>
                        <td style="text-align:right">
                            <MudIconButton Icon="@Icons.Material.Filled.Close"
                                           Color="Color.Info"
                                           OnClick="@(() => OpenViewDrawer(false))"></MudIconButton>
                        </td>
                    </tr>
                </table>
            </MudDrawerHeader>
            <MudNavMenu>
                @if (IsViewPopulated)
                {
                    @foreach (ShowInSearchResultsOption CurrentFilter in CurrentApiUiService!.ViewList!)
                    {
                        string labelName = UtilityHelper.UppercaseFirstCharacter(CurrentFilter.PropertyName);
                        bool IsChecked = (CurrentFilter.SetShowInSearchResultsOption.Equals(ShowInSearchResultsType.OptionalAndOnByDefault)
                        || CurrentFilter.SetShowInSearchResultsOption.Equals(ShowInSearchResultsType.Always));
                        <MudSwitch Label="@labelName"
                                   Color="Color.Info"
                                   Checked="IsChecked"
                                   CheckedChanged="@(e=>CurrentApiUiService!.UpdateShowInSearch(e,CurrentFilter))"
                                   T="bool"
                                   Style="padding:15px 0px 0px 25px;"
                                   Disabled="CurrentFilter.IsSetViewDisabled" />
                    }
                    <table style="width:100%;margin-top:20px;">
                        <tr>
                            <td style="text-align:left;padding:25px;width:50%;">
                                <MudButton OnClick="ResetViewList"
                                           Variant="Variant.Outlined"
                                           Color="Color.Info"
                                           FullWidth="true">Default View</MudButton>
                            </td>
                            <td style="text-align:right;padding:25px;width:50%;">
                                <MudButton OnClick="ApplyViewList"
                                           Variant="Variant.Filled"
                                           Color="Color.Info"
                                           FullWidth="true">Apply</MudButton>
                            </td>
                        </tr>
                    </table>
                }
            </MudNavMenu>
        </MudDrawer>
    }
}
else
{
    <MudPaper Class="d-flex align-center justify-center mud-width-full" Style="padding:100px;" Elevation="0">
        <MudProgressCircular Color="Color.Info"
                             Size="Size.Large"
                             Indeterminate="true" />
    </MudPaper>
}


<style>
    .custom-header {
        background-color: #f0f3f5;
    }

    .custom-dialog {
        backdrop-filter: blur(2px);
    }

    .mud-tab.mud-tab-active {
        color: var(--mud-palette-info);
        border-bottom-style: solid;
        border-bottom-color: var(--mud-palette-info);
        border-bottom-width: 3px;
    }
</style>

@if (DisplayGoogleMap)
{
    <script src="@GoogleMapJsUrl" defer></script>
}