@namespace Nox.Ui.Blazor.Lib.Components.NoxTypes
@using MudBlazor

<MudGrid>
    <MudItem xs="6">
        <MudNumericField Label="@Title"
                         Variant="Variant.Outlined"
                         Clearable="true"
                         Required="true"
                         RequiredError="@ErrorRequiredMessage(Title)"
                         TextChanged="OnLatitudeChanged"
                         Format="@Format"
                         Value="CurrentLatitude" />
    </MudItem>
    <MudItem xs="6">
        <MudNumericField Label="@TitleLongitude"
                         Variant="Variant.Outlined"
                         Clearable="true"
                         Required="true"
                         RequiredError="@ErrorRequiredMessage(TitleLongitude)"
                         TextChanged="OnLongitudeChanged"
                         Format="@Format"
                         Value="CurrentLongitude" />
    </MudItem>
</MudGrid>

@if (DisplayGoogleMap)
{
    <div style="margin-top:30px;">
        <EditGoogleMap LatLong="LatLong" LatLongChanged="OnLatLongChanged" />
    </div>
}