@using Cryptocash.Ui.Generated.Data;
@using Cryptocash.Ui.Generated.Nox_Generator.Nox_Generator_NoxCodeGenerator.Component;

@inherits MainLayoutBase

<PageTitle>@GlobalData?.CurrentDomainEntity</PageTitle>

<MudThemeProvider />

<MudDrawerContainer Class="mud-height-full">
    <MudDrawer @bind-Open="@DrawerOpen" Fixed="true" Variant="@DrawerVariant.Mini" Color="Color.Dark" Style="position:fixed;">
        <MudDrawerHeader Style="padding:0px">
            <table style="width:100%">
                <tr>
                    <td style="text-align:right">
                        @if (DrawerOpen)
                        {
                            <MudIconButton Icon="@Icons.Material.Filled.ChevronLeft" OnClick="ToggleDrawer" Color="Color.Inherit" Style="padding:18px 20px 0px 0px;margin-top:-11px;"></MudIconButton>
                        }
                        else
                        {
                            <MudIconButton Icon="@Icons.Material.Filled.ChevronRight" OnClick="ToggleDrawer" Color="Color.Inherit" Style="padding:18px 15px 0px 0px;margin-top:-11px;"></MudIconButton>
                        }
                    </td>
                </tr>
            </table>
        </MudDrawerHeader>
        <UiNavigationMenu_g />
    </MudDrawer>
    <CascadingValue Value="@GlobalData">        
        <div>
            <main>            
                <UiHeader />
                <article class="content px-4"> 
                    @Body
                </article>
            </main>
        </div>
    </CascadingValue>
</MudDrawerContainer>

<style>
    .custom-linkHighlighted {
        color: #e24a53;
    }
</style>